<div   fxLayout="column"
        fxLayoutGap="20px"
        fxLayoutAlign="none center">

    <h1>Inviting {{recipient.name}}</h1>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <!--  Activity  -->
    <mat-form-field class="short-select" fxFlex="35">
      <mat-label>Play or Train?</mat-label>
      <mat-select [(ngModel)]="kind">
        <mat-option *ngFor="let act of ['play', 'train']" [value]="act">{{act}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--  Date  -->
    <mat-form-field appearance="fill" fxFlex="50">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="datepicker" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <!--  Start Time  -->
  <mat-form-field class="time-select" appearance="fill" fxFlex="30">
    <mat-label>From</mat-label>
    <input matInput type="time" [(ngModel)]="start">
  </mat-form-field>

  <!--  End Time  -->
  <mat-form-field class="time-select" appearance="fill" fxFlex="30">
      <mat-label>To</mat-label>
      <input matInput type="time" [(ngModel)]="end">
    </mat-form-field>

  <!--  Note  -->
  <textarea  matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"
            placeholder="Add a note"
            class="mat-elevation-z8"
            [(ngModel)]="note"
  ></textarea>

  <button mat-raised-button color="primary" type="button" (click)="sendInvite()">Send Invite</button>
</div>

