<div fxLayout="column" fxLayoutGap="40px">
  <app-tt-disclaimer-and-action></app-tt-disclaimer-and-action>

  <div fxLayout="column" fxLayoutGap="50px">
    <div fxLayout="row" fxLayoutGap="50px">
      <app-tt-info-card fxFlex="40"></app-tt-info-card>
      <app-tt-info-card fxFlex="40"></app-tt-info-card>
    </div>

    <div fxLayout="row" fxLayoutGap="50px">
      <app-tt-info-card fxFlex="40"></app-tt-info-card>
      <app-tt-info-card fxFlex="40"></app-tt-info-card>
    </div>
  </div>
</div>
