//@import "~src/styles";
@import '~@angular/material/theming';

.mat-card {
    min-height: 100%;
}

.mat-card.blue {
    background-color: mat-color(mat-palette($mat-blue));
}

.mat-card.purple {
    background-color: mat-color(mat-palette($mat-purple));
}

.mat-card.green {
    background-color: mat-color(mat-palette($mat-green));
}

.mat-card.orange {
    background-color: mat-color(mat-palette($mat-orange));
}

mat-card-header ::ng-deep * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
}

