
table {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
  padding: 10px;
}

td.mat-cell {
  padding: 10px;
  text-align: left;
}

.player-group-section {
  margin: 1%;
}

.tournament-selector {
  margin: 10px 10px;
}

.mat-select-panel {
  background: aqua;
}
