.home-container {
    margin-top: 10px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.player-card-container {
    width: 200px;
    height: 400px;
}
