<div
  fxLayout="column"
  class="mat-elevation-z8 match-container">

  <div
    *ngIf="validPlayer1()"
    fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="5%">
    <mat-icon >person</mat-icon>
    <div class="player-name">{{match.player1}}</div>
    <div class="score">
      <div *ngIf="!isIncomplete()">3</div>
    </div>
  </div>

  <div
    *ngIf="validPlayer2()"
    fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="5%">
    <mat-icon>person</mat-icon>
    <div class="player-name">{{match.player2}}</div>
    <div class="score">
      <div *ngIf="!isIncomplete()">2</div>
    </div>
  </div>
</div>
