<div class="container">
  <form
    fxLayout="column"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmitNewMembership(f)"
    novalidate
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div><strong>Configure New Reservation</strong></div>
      <button>Save</button>
    </div>

    <div fxLayout="row">
      <div fxFlex="10"></div>
      <div fxFlex fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row">
          <div fxFlex="40"><em>Unit:</em></div>
          <input name="title" ngModel required #title="ngModel" />
          {{ title.value }}
        </div>

        <div fxLayout="row">
          <div fxFlex="40"><em>Duration:</em></div>
          <select>
            <option
              *ngFor="let opt of membershipDurations"
              [value]="opt"
              [selected]="opt"
            >
              {{ opt }}
            </option>
          </select>
        </div>

        <div fxLayout="row">
          <div fxFlex="40"><em>Price:</em></div>
          <input name="price" ngModel required #price="ngModel" />
          {{ price.value }}
        </div>
      </div>
    </div>
  </form>
</div>
