.form-field {
  margin: 10px 0;

  input {

  }

  label {
    display: block;
  }
}

.StripeElement {
  padding: 10px 12px;
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  color: black;
  border: 1px solid black;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}