@import '../../node_modules/seasalt/dist/index';
@import './fonts.scss';
@import './variables.scss';
@import './form.scss';
@import './schedule.scss';
@import './my-reservations.scss';

:root {
  --row-margin: 30px;
  --color-1: #00adff;
  --color-2: #20208e;

  @media (min-width: 768px) {
    --row-margin: 50px;
  }
}

html {
  font-size: 4px;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -0.02ch;
  background: linear-gradient(var(--color-1), var(--color-2));
  overflow: hidden;
}

h1 {
  font-size: 5.2rem;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h4 {
  font-size: 3.6rem;
  margin: 0;
}

p {
  font-size: 4rem;
  margin: 0;
}

[data-p3] {
  font-size: 3.3rem;
}

a, [data-link] {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

header {
  align-items: center;
  margin-bottom: 10px;

  .header-inner {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: flex-end;

    svg {
      height: 6rem;
    }

    label {
      display: inline-block;
      background: #00adff;
      padding: 2px 5px;
      color: white;
      margin-left: 2rem;
      margin-bottom: 0.3rem;
      font-size: 2.6rem;
    }
  }
}

label {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  &[data-error] {
    color: red;
  }
}

button {
  padding: 5px 8px;
  background: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 3.6rem;

  &[data-plain] {
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid currentColor;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  &[disabled] {
    background: gray;
    border: 1px solid gray;
    cursor: not-allowed;
  }
}

input {
  max-width: 100%;
  font-size: 4rem;
  padding: 4px 6px;
  border: none;
  box-sizing: border-box;
  border: 1px solid black;
}

.inner {
  background: white;
  flex-direction: column;
  border: calc(var(--row-margin) / 2) solid white;
  border-bottom: none;
  border-radius: 10px;
  height: calc(100vh - var(--row-margin) * 1.5);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  margin: calc(var(--row-margin) / 2) auto;
}

main {
  overflow: scroll;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    a, button {
      display: block;
      margin: 10px auto;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: -10px;
  }
}