@import '../../node_modules/seasalt/dist/index';
@import './fonts.scss';
@import './variables.scss';
@import './form.scss';
@import './schedule.scss';
@import './my-reservations.scss';
@import './layout.scss';

:root {
  --row-margin: 30px;
  --color-1: #00adff;
  --color-2: #20208e;

  @media (min-width: 768px) {
    --row-margin: 50px;
  }
}

html {
  font-size: 4px;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -0.02ch;
  background: linear-gradient(var(--color-1), var(--color-2));
  overflow: hidden;
  width: 100%;
}

*:focus {
  outline: var(--color-1) dotted 1px;
}

h1 {
  font-size: 5.2rem;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h4 {
  font-size: 3.6rem;
  margin: 0;
}

p {
  font-size: 4rem;
  margin: 0;
}

[data-p3] {
  font-size: 3.3rem;
}

a, [data-link] {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

label {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  &[data-error] {
    color: red;
  }

  &[data-faded] {
    color: var(--color-1);
  }
}

button {
  padding: 5px 8px;
  background: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 3.6rem;

  &[data-plain] {
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  &[disabled] {
    background: gray;
    border: 1px solid gray;
    cursor: not-allowed;
  }
}

input {
  max-width: 100%;
  font-size: 4rem;
  padding: 4px 6px;
  border: none;
  box-sizing: border-box;
  border: 1px solid black;
}
