@import '../../node_modules/seasalt/dist/index';
@import './fonts.scss';
@import './variables.scss';
@import './form.scss';
@import './schedule.scss';
@import './my-reservations.scss';

html {
  font-size: 4px;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 0;
  letter-spacing: -0.02ch;
}

h1 {
  font-size: 5.2rem;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h4 {
  font-size: 3.6rem;
  margin: 0;
}

p {
  font-size: 4rem;
  margin: 0;
}

[data-p3] {
  font-size: 3.3rem;
}

a, [data-link] {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

header {
  align-items: center;
  margin-bottom: 10px;

  .links {
    font-size: 3.5rem;
    line-height: 1.4em;
    font-weight: normal;
    text-align: right;

    a {
      margin-right: 10px;
    }
  }
}

label {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  &[data-error] {
    color: red;
  }
}

button {
  padding: 4px 6px;
  background: black;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  font-size: 4rem;

  &[data-plain] {
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  &[disabled] {
    background: gray;
    border: 1px solid gray;
    cursor: not-allowed;
  }
}

input {
  max-width: 100%;
  font-size: 4rem;
  padding: 4px 6px;
  border: none;
  box-sizing: border-box;
  border: 1px solid black;
}
