.day-picker {
  display: flex;
}

.days {
  margin-right: 20px;
}

.day {
  padding: 5px 10px;
  cursor: pointer;

  &[data-selected="true"] {
    background: yellow;
  }
}

.sessions {

}

.session {
  cursor: pointer;
  margin: 2px 0;

  &[data-selected="true"] {
    background: yellow;
  }
}
