<div class="home-container" fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="center none">
  <app-tt-profile-settings fxFlex="15"></app-tt-profile-settings>

  <div fxLayout="column" fxLayoutGap="30px" fxFlex="70" fxFill>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Players</h1>
      <input type="search" placeholder="name" [(ngModel)]="playerNameQuery" (change)="searchPlayers($event)">
      <input type="search" placeholder="club" [(ngModel)]="clubQuery" (change)="searchPlayers($event)">
      <input type="search" placeholder="zipcode" [(ngModel)]="zipcodeQuery" (change)="searchPlayers($event)">
      <input type="search" placeholder="city" [(ngModel)]="cityQuery" (change)="searchPlayers($event)">
      <input type="search" placeholder="min rating" [(ngModel)]="ratingQuery" (change)="searchPlayers($event)">

    </div>

    <div class="scrolling-wrapper" fxLayout="row" fxLayoutGap="20px">
      <div *ngFor="let player of players" fxFlex="20">
        <app-tt-player-card [player]="player"></app-tt-player-card>
      </div>
    </div>

    <!--    <div fxLayout="row" fxLayoutAlign="space-between center">-->
    <!--      <h1>Coaches</h1>-->
    <!--      <input type="search" placeholder="search">-->
    <!--    </div>-->
    <!--    <div class="scrolling-wrapper"-->
    <!--         fxLayout="row"-->
    <!--         fxLayoutGap="20px">-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--      <app-tt-coach-card></app-tt-coach-card>-->
    <!--    </div>-->

    <!--    <div fxLayout="row" fxLayoutAlign="space-between center">-->
    <!--      <h1>Tournaments</h1>-->
    <!--      <input type="search" placeholder="search">-->
    <!--    </div>-->
    <!--    <div class="scrolling-wrapper"-->
    <!--         fxLayout="row"-->
    <!--         fxLayoutGap="20px">-->
    <!--      <app-tt-tournament-card></app-tt-tournament-card>-->
    <!--      <app-tt-tournament-card></app-tt-tournament-card>-->
    <!--      <app-tt-tournament-card></app-tt-tournament-card>-->
    <!--      <app-tt-tournament-card></app-tt-tournament-card>-->
    <!--      <app-tt-tournament-card></app-tt-tournament-card>-->
    <!--      <app-tt-tournament-card></app-tt-tournament-card>-->
    <!--      <app-tt-tournament-card></app-tt-tournament-card>-->
    <!--    </div>-->

    <!--    <div fxLayout="row" fxLayoutAlign="space-between center">-->
    <!--      <h1>Coaches</h1>-->
    <!--      <input type="search" placeholder="search">-->
    <!--    </div>-->
    <!--    <div class="scrolling-wrapper"-->
    <!--         fxLayout="row"-->
    <!--         fxFlex="70"-->
    <!--         fxLayoutGap="20px">-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--      <app-tt-venue-card></app-tt-venue-card>-->
    <!--    </div>-->

  </div>
</div>
