table {
  width: 100%;
}

.mat-column-alias {
  flex: 0 0 15%;
}

.mat-column-name {
  flex: 0 0 25%;
}

.mat-column-A {
  flex: 0 0 15%;
  justify-content: center;
}
.mat-column-B {
  flex: 0 0 15%;
  justify-content: center;
}
.mat-column-C {
  flex: 0 0 15%;
  justify-content: center;
}
.mat-column-D {
  flex: 0 0 15%;
  justify-content: center;
}

//.over {
//
//}
