<div [className]="group.is_over ? 'primaryColorBorder' : ''">
  <h3>{{ title }}</h3>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="alias">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let _; let i = index">
        {{ indexToLetter(i) }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <app-tt-group-player
                [name]="player.name"
                [summary]="group.players_summary[player.id.toString()]">
        </app-tt-group-player>
      </mat-cell>
    </ng-container>

    <!--   player2 iterates over group players which should be same as datasource  -->
    <ng-container
      class="score-cell"
      *ngFor="let player2_id of group.players; let i2 = index"
      [matColumnDef]="indexToLetter(i2)"
    >
      <mat-header-cell *matHeaderCellDef>
        {{ indexToLetter(i2) }}
      </mat-header-cell>

      <!--   player1 is the object being iterated from dataSource   -->
      <mat-cell *matCellDef="let player1" fxLayout="column">
        <app-tt-match-result-cell
                fxFlexFill
                [match]="findMatch(+player1.id, player2_id)"
                [selfMatch]="+player1.id === player2_id"
                [editable]="isMatchEditable()"
        ></app-tt-match-result-cell>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
