<div fxLayout="row" fxFlexAlign="space-around center" class="primaryColorBG">
  <!--    Homepage    -->
  <button disableRipple
          mat-button
          fxLayoutAlign="left"
          *ngIf="enableHomePage"
          (click)="goto('/'+homePageRoute)"
  >
    {{homePageTitle}}
  </button>

  <!--    Reservations    -->
  <button disableRipple
          mat-button
          fxLayoutAlign="left"
          *ngIf="shouldEnableReservationsButton()"
          (click)="goto('/'+reservationsPageRoute)">
    {{reservationsPageTitle}}
  </button>

  <!--    Profile    -->
  <button disableRipple
          mat-button
          fxLayoutAlign="left"
          *ngIf="shouldEnableProfileButton()"
          (click)="goto('/'+profilePageRoute)">
    {{profilePageTitle}}
  </button>

  <!--    Logout    -->
  <button disableRipple
          mat-button
          fxLayoutAlign="left"
          *ngIf="shouldEnableLogout()"
          (click)="logout()">
    Logout
  </button>
</div>
