/* SASS VARIABLES */
/* DEFAULT CSS VARIABLES */
:root {
  --rem: 3.5vw;
  --row-height: 10px;
  --row-margin: 2.5vw;
  --column-count: 12;
  --gutter: 5px;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.2rem;
  --h4-font-size: 1.1rem;
}

@media (min-width: 600px) {
  :root {
    --rem: 18px;
    --page-margin: 20px;
    --row-max-width: 1000px;
    --column-count: 12;
    --gutter: 10px;
  }
}
@media (min-width: 1024px) {
  :root {
    --rem: 16px;
    --page-margin: 20px;
    --row-max-width: 1000px;
    --column-count: 12;
    --gutter: 10px;
  }
}
/* RESET */
html {
  font-size: var(--rem);
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* MIXINS */
/* GRID */
[data-page] {
  width: calc(100vw - (var(--row-margin) * 2));
  max-width: var(--row-max-width);
  margin-left: auto;
  margin-right: auto;
}

[data-row] {
  width: calc(100vw - (var(--row-margin) * 2));
  max-width: var(--row-max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

[data-row="1"] {
  height: calc(1 * var(--row-height));
}

[data-row="2"] {
  height: calc(2 * var(--row-height));
}

[data-row="3"] {
  height: calc(3 * var(--row-height));
}

[data-row="4"] {
  height: calc(4 * var(--row-height));
}

[data-row="5"] {
  height: calc(5 * var(--row-height));
}

[data-row="6"] {
  height: calc(6 * var(--row-height));
}

[data-row="7"] {
  height: calc(7 * var(--row-height));
}

[data-row="8"] {
  height: calc(8 * var(--row-height));
}

[data-row="9"] {
  height: calc(9 * var(--row-height));
}

[data-row="10"] {
  height: calc(10 * var(--row-height));
}

[data-row="11"] {
  height: calc(11 * var(--row-height));
}

[data-row="12"] {
  height: calc(12 * var(--row-height));
}

[data-row="13"] {
  height: calc(13 * var(--row-height));
}

[data-row="14"] {
  height: calc(14 * var(--row-height));
}

[data-row="15"] {
  height: calc(15 * var(--row-height));
}

[data-row="16"] {
  height: calc(16 * var(--row-height));
}

[data-row="17"] {
  height: calc(17 * var(--row-height));
}

[data-row="18"] {
  height: calc(18 * var(--row-height));
}

[data-row="19"] {
  height: calc(19 * var(--row-height));
}

[data-row="20"] {
  height: calc(20 * var(--row-height));
}

[data-col] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 1 + calc(var(--gutter) * (1 - 1)));
}

[data-col]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="1"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 1 + calc(var(--gutter) * (1 - 1)));
}

[data-col="1"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="1"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="2"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 2 + calc(var(--gutter) * (2 - 1)));
}

[data-col="2"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="2"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="3"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 3 + calc(var(--gutter) * (3 - 1)));
}

[data-col="3"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="3"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="4"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 4 + calc(var(--gutter) * (4 - 1)));
}

[data-col="4"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="4"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="5"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 5 + calc(var(--gutter) * (5 - 1)));
}

[data-col="5"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="5"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="6"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 6 + calc(var(--gutter) * (6 - 1)));
}

[data-col="6"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="6"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="7"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 7 + calc(var(--gutter) * (7 - 1)));
}

[data-col="7"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="7"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="8"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 8 + calc(var(--gutter) * (8 - 1)));
}

[data-col="8"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="8"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="9"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 9 + calc(var(--gutter) * (9 - 1)));
}

[data-col="9"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="9"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="10"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 10 + calc(var(--gutter) * (10 - 1)));
}

[data-col="10"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="10"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="11"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 11 + calc(var(--gutter) * (11 - 1)));
}

[data-col="11"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="11"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="12"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 12 + calc(var(--gutter) * (12 - 1)));
}

[data-col="12"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="12"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="13"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 13 + calc(var(--gutter) * (13 - 1)));
}

[data-col="13"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="13"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="14"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 14 + calc(var(--gutter) * (14 - 1)));
}

[data-col="14"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="14"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="15"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 15 + calc(var(--gutter) * (15 - 1)));
}

[data-col="15"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="15"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="16"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 16 + calc(var(--gutter) * (16 - 1)));
}

[data-col="16"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="16"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="17"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 17 + calc(var(--gutter) * (17 - 1)));
}

[data-col="17"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="17"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="18"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 18 + calc(var(--gutter) * (18 - 1)));
}

[data-col="18"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="18"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="19"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 19 + calc(var(--gutter) * (19 - 1)));
}

[data-col="19"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="19"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="20"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 20 + calc(var(--gutter) * (20 - 1)));
}

[data-col="20"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="20"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="21"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 21 + calc(var(--gutter) * (21 - 1)));
}

[data-col="21"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="21"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="22"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 22 + calc(var(--gutter) * (22 - 1)));
}

[data-col="22"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="22"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="23"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 23 + calc(var(--gutter) * (23 - 1)));
}

[data-col="23"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="23"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

[data-col="24"] {
  width: calc(calc(100% / var(--column-count) - calc(var(--gutter) * ((var(--column-count) - 1) / var(--column-count)))) * 24 + calc(var(--gutter) * (24 - 1)));
}

[data-col="24"]:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

[data-col="24"]:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

/* TYPOGRAPHY */
h1, [data-h1] {
  font-size: var(--h1-font-size);
}

h2, [data-h2] {
  font-size: var(--h2-font-size);
}

h3, [data-h3] {
  font-size: var(--h3-font-size);
}

h4, [data-h4] {
  font-size: var(--h4-font-size);
}

/* VISIBILITY */
@media (min-width: 600px) {
  [data-show-at=mobile] {
    display: none;
  }
}
@media (max-width: 599px) {
  [data-hide-at=mobile] {
    display: none;
  }
}
@media (max-width: 599px) {
  [data-show-at=tablet] {
    display: none;
  }
}
@media (max-width: 1023px) {
  [data-show-at=tablet] {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  [data-hide-at=tablet] {
    display: none;
  }
}
@media (max-width: 599px) {
  [data-show-from=tablet] {
    display: none;
  }
}
@media (min-width: 600px) {
  [data-hide-from=tablet] {
    display: none;
  }
}
@media (min-width: 600px) {
  [data-show-until=tablet] {
    display: none;
  }
}
@media (max-width: 599px) {
  [data-hide-until=tablet] {
    display: none;
  }
}
@media (max-width: 1023px) {
  [data-show-at=desktop] {
    display: none;
  }
}
@media (min-width: 1024px) {
  [data-hide-at=desktop] {
    display: none;
  }
}
@media (min-width: 1024px) {
  [data-show-until=desktop] {
    display: none;
  }
}
@media (max-width: 1023px) {
  [data-hide-until=desktop] {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/SourceSansPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  src: url("/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
}
.form-field {
  margin: 10px 0;
}
.form-field label {
  display: block;
}

.StripeElement {
  padding: 10px 12px;
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  color: black;
  border: 1px solid black;
}

.StripeElement {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.schedule {
  display: flex;
  overflow: hidden;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px 8px;
  margin: 3px;
  user-select: none;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  opacity: 0.6;
  white-space: nowrap;
}

.day[data-selected=true] {
  border: 1px solid var(--color-1);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.session {
  max-width: 60rem;
}
.session[data-selected=true] {
  border: 1px solid var(--color-1);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.session[data-available=false] {
  opacity: 0.3;
  pointer-events: none;
}
.session .availability {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #eaeaea;
  text-align: center;
  color: #676767;
  font-size: 2.8rem;
  padding: 1px 3px;
  margin-left: 5px;
}

.instruction {
  display: block;
  margin-bottom: 10px;
}

.reservation {
  margin: 5px 0;
}

.reservations-day {
  margin-bottom: 20px;
}

#app > .inner {
  position: relative;
  background: white;
  flex-direction: column;
  padding: calc(var(--row-margin) / 2);
  padding-bottom: 0;
  border-radius: 10px;
  height: calc(100vh - var(--row-margin) * 1.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: calc(var(--row-margin) / 2) auto;
  overflow: hidden;
}

header {
  align-items: center;
  border-bottom: 2px solid var(--color-1);
}
header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo svg {
  height: 6rem;
}
header .logo label {
  display: inline-block;
  background: #00adff;
  padding: 2px 5px;
  color: white;
  margin-left: 2rem;
  margin-bottom: 0.3rem;
  font-size: 2.6rem;
}

main {
  flex: 1;
  overflow: hidden;
  margin-bottom: calc(var(--row-margin) * 0.5);
}
main > .scrollable {
  height: calc(100% + var(--row-margin) * 0.5);
  width: calc(100% + var(--row-margin));
  margin-left: calc(var(--row-margin) * -0.5);
  overflow: scroll;
}
main > .scrollable > .inner {
  margin-left: calc(var(--row-margin) * 0.5);
  overflow: hidden;
}

.menu-toggle {
  width: 5.5rem;
  height: 5.5rem;
  position: relative;
  z-index: 2;
  padding: 3px !important;
  box-sizing: content-box;
  margin: -3px;
}
.menu-toggle[data-open=true] .bar:nth-child(1) {
  transform: rotateZ(45deg);
}
.menu-toggle[data-open=true] .bar:nth-child(2) {
  transform: scaleX(0);
}
.menu-toggle[data-open=true] .bar:nth-child(3) {
  transform: rotateZ(-45deg);
}
.menu-toggle .bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 5.5rem;
  height: 0.5rem;
  margin: auto;
  background: var(--color-1);
  transform-origin: 50% 50%;
  transition: 200ms transform ease-in-out;
}
.menu-toggle .bar:nth-child(1) {
  transform: translate3d(0, -2rem, 0);
}
.menu-toggle .bar:nth-child(3) {
  transform: translate3d(0, 2rem, 0);
}

.menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: 200ms opacity linear, 200ms visibility step-end;
}
.menu-overlay[data-open=true] {
  opacity: 1;
  visibility: visible;
  transition: 200ms opacity linear, 200ms visibility step-start;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: white;
  border-bottom: none;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  width: 90%;
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: 200ms transform ease-in-out, 200ms visibility step-end;
}
.menu[data-open=true] {
  visibility: visible;
  transform: none;
  transition: 200ms transform ease-in-out, 200ms visibility step-start;
}
.menu .links {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.menu .links .menu-link {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
}
.menu .links .menu-link[data-active=false] {
  border: none;
}
.menu .links .menu-link[data-active=true] {
  pointer-events: none;
}
.menu .links .menu-link label {
  font-size: 4rem;
  color: var(--color-2);
}
.menu .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: -10px;
}

:root {
  --row-margin: 30px;
  --color-1: #00adff;
  --color-2: #20208e;
}
@media (min-width: 768px) {
  :root {
    --row-margin: 50px;
  }
}

html {
  font-size: 4px;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -0.02ch;
  background: linear-gradient(var(--color-1), var(--color-2));
  overflow: hidden;
  width: 100%;
}

*:focus {
  outline: var(--color-1) dotted 1px;
}

h1 {
  font-size: 5.2rem;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  margin: 0;
}

h3 {
  font-size: 4rem;
  margin: 0;
}

h4 {
  font-size: 3.6rem;
  margin: 0;
}

p {
  font-size: 4rem;
  margin: 0;
}

[data-p3] {
  font-size: 3.3rem;
}

a, [data-link] {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

label {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
label[data-error] {
  color: red;
}
label[data-faded] {
  color: var(--color-1);
}

button {
  padding: 5px 8px;
  background: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 3.6rem;
}
button[data-plain] {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
button[disabled] {
  background: gray;
  border: 1px solid gray;
  cursor: not-allowed;
}

input {
  max-width: 100%;
  font-size: 4rem;
  padding: 4px 6px;
  border: none;
  box-sizing: border-box;
  border: 1px solid black;
}

/*# sourceMappingURL=index.css.map */
