
<div  fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
  <mat-card fxFlexFill>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="none center">
          <div>{{recipientFirstName()}}</div>
          <img mat-card-avatar [src]="recipientProfileImage()">
          <div>{{recipientRating()}}</div>
        </div>

        <div fxLayout="column">
          <div>{{reservation.event_date | date}}</div>
          <div>{{reservation.start_time}} - {{reservation.end_time}}</div>
          <div>{{reservation.kind}}</div>
          <div>{{reservation.note}}</div>
        </div>

        <div fxLayout="column" *ngIf="!hostMode">
          <label id="example-radio-group-label">RSVP</label>
          <mat-radio-group
                  fxLayout="column"
                  aria-labelledby="example-radio-group-label"
                  class="example-radio-group"
                  (change)="updateRsvp($event)"
                  [(ngModel)]="reservation.recipient_rsvp">
            <mat-radio-button class="example-radio-button" *ngFor="let opt of rsvpOptions()" [value]="opt">
              {{opt}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngIf="hostMode">{{reservation.recipient_rsvp ? reservation.recipient_rsvp : 'No Reply'}}</div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
