.mat-card-header-text {
    /* CSS styles go here */
    margin: 0; // for example to remove the margin
}

mat-card-content {
    max-width: 95vw;
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}
