<div *ngIf="player" class="settings-container mat-elevation-z24" fxLayout="column" fxLayoutGap="40px">
  <!--  User Profile -->
  <div fxLayout="column">
    <div>
      <h2 fxFlex="80">Account Settings</h2>
      <mat-icon *ngIf="!isUpdatingAccount" (click)="editAccount()">edit</mat-icon>
      <mat-icon *ngIf="isUpdatingAccount" (click)="saveAccount()">save</mat-icon>
    </div>
    <img [src]='player.profile_img' alt="Profile Image">
    <hr>

    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <mat-icon>person</mat-icon>
      <div *ngIf="!isUpdatingAccount">{{player.name}}</div>
      <input *ngIf="isUpdatingAccount" matInput [(ngModel)]="player.name"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <mat-icon>email</mat-icon>
      <div *ngIf="!isUpdatingAccount">{{player.email}}</div>
      <input *ngIf="isUpdatingAccount" matInput [(ngModel)]="player.email"/>
    </div>
    <div *ngIf="player.phone || isUpdatingAccount"
         fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <mat-icon>phone</mat-icon>
      <div *ngIf="!isUpdatingAccount">{{player.phone}}</div>
      <input *ngIf="isUpdatingAccount" matInput [(ngModel)]="player.phone"/>
    </div>
    <div *ngIf="player.address || isUpdatingAccount"
         fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <mat-icon>local_shipping</mat-icon>
      <div *ngIf="!isUpdatingAccount">{{player.address}}</div>
      <input *ngIf="isUpdatingAccount" matInput [(ngModel)]="player.address"/>
    </div>
    <hr>
    <div fxLayout="row">
      <div fxFlex="80">Password Change</div>
    </div>

    <input type="password" name="current" placeholder="current password" [(ngModel)]="password">
    <input type="password" name="new" placeholder="new password" [(ngModel)]="newPassword">
    <input type="password" name="confirm" placeholder="confirm password" [(ngModel)]="passwordConfirmation">
    <!--    <div *ngIf="passwordErrors">{{passwordErrors}}</div>-->
    <button mat-raised-button color="primary" [disabled]="!validPasswordChange()" (click)="savePassword()">Update
    </button>
  </div>

  <!--  TT Profile -->
  <div fxLayout="column">
    <div fxLayout="row">

      <h2 fxFlex="80">TT Profile</h2>
      <mat-icon *ngIf="!isUpdatingTtProfile" (click)="editTtProfile()">edit</mat-icon>
      <mat-icon *ngIf="isUpdatingTtProfile" (click)="saveTtProfile()">save</mat-icon>
    </div>

    <div *ngIf="player.tt_profile.racket_blade || isUpdatingTtProfile"
         fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <!--      <mat-icon>phone</mat-icon>-->
      <div>Blade:</div>
      <div *ngIf="!isUpdatingTtProfile">{{player.tt_profile.racket_blade}}</div>
      <input *ngIf="isUpdatingTtProfile" matInput [(ngModel)]="player.tt_profile.racket_blade"/>
    </div>

    <div *ngIf="player.tt_profile.forehand_rubber || isUpdatingTtProfile"
         fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <!--      <mat-icon>phone</mat-icon>-->
      <div>Forehand:</div>
      <div *ngIf="!isUpdatingTtProfile">{{player.tt_profile.forehand_rubber}}</div>
      <input *ngIf="isUpdatingTtProfile" matInput [(ngModel)]="player.tt_profile.forehand_rubber"/>
    </div>

    <div *ngIf="player.tt_profile.backhand_rubber || isUpdatingTtProfile"
         fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <!--      <mat-icon>phone</mat-icon>-->
      <div>backhand:</div>
      <div *ngIf="!isUpdatingTtProfile">{{player.tt_profile.backhand_rubber}}</div>
      <input *ngIf="isUpdatingTtProfile" matInput [(ngModel)]="player.tt_profile.backhand_rubber"/>
    </div>

    <div *ngIf="player.tt_profile.hand || player.tt_profile.grip || isUpdatingTtProfile"
         fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <div>Grip:</div>
      <div *ngIf="!isUpdatingTtProfile">{{player.tt_profile.hand}} {{player.tt_profile.grip}}</div>
      <select
              name="hand"
              *ngIf="isUpdatingTtProfile"
              [(ngModel)]="player.tt_profile.hand"
              [value]="player.tt_profile.hand">
        <option *ngFor="let method of ['right', 'left']" [value]="method">{{ method }}</option>
      </select>
      <select
              name="grip"
              *ngIf="isUpdatingTtProfile"
              [(ngModel)]="player.tt_profile.grip">
        <option *ngFor="let method of ['shakehand', 'penhold']" [value]="method">{{ method }}</option>
      </select>
    </div>

    <div *ngIf="player.tt_profile.partner_min_rating || player.tt_profile.partner_min_rating || isUpdatingTtProfile"
         fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
      <!--      <mat-icon>phone</mat-icon>-->
      <div>Partner Rating:</div>
      <div *ngIf="!isUpdatingTtProfile">{{player.tt_profile.partner_min_rating}}
        - {{player.tt_profile.partner_max_rating}}</div>
      <select
              name="min"
              *ngIf="isUpdatingTtProfile"
              [(ngModel)]="player.tt_profile.partner_min_rating">
        <option *ngFor="let method of ['any', 1000, 1300, 1600, 1900, 2100, 2300]"
                [value]="method">{{ method }}</option>
      </select>
      <select
              name="max"
              *ngIf="isUpdatingTtProfile"
              [(ngModel)]="player.tt_profile.partner_max_rating">
        <option *ngFor="let method of ['any', 1000, 1300, 1600, 1900, 2100, 2300]"
                [value]="method">{{ method }}</option>
      </select>
    </div>
  </div>
</div>
